$mdc-theme-primary: #0097a7;
$mdc-theme-on-primary: #303030;
$mdc-theme-secondary: #ffffff;
$mdc-theme-on-secondary: #ffffff;
$mdc-theme-surface: #303030;
$mdc-theme-on-surface: #ffffff;
$mdc-theme-background: #0097a7;
$mdc-theme-on-background: #0097a7;
