@import "common";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/elevation/mdc-elevation";
@import "transition_animation";

.main-content {
  overflow: auto;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 20px;
  box-sizing: border-box;
}


.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.mdc-top-app-bar{
  position: absolute;
  background-color: $mdc-theme-on-primary;
}
.mdc-top-app-bar__navigation-icon {
  background: $mdc-theme-primary;
  border-radius: 20%;
}

.logo-subtitle {
  width: 100%;
  text-align: center;
}

.logo {
  content: url("../assets/logo.png");
  width: 100%;
  bottom: 0;
}

.logo-div {
  bottom: 0;
  padding: 10%;
}

.content-title {
  text-align: center;
}

.resource-list-element{
  background-color: rgba(100,100,100,0.2);
}

.resources-list{
  padding-left: 0;
  padding-right: 0;
  display: table;
  margin: 0 auto;
}

.guide-list {
  display: table;
  margin: 0 auto;
  align-content: center;
}

.guide-descriptor{
  background-color: rgba(50,50,50,0.1);
  height: fit-content;
  width: fit-content;
  text-align: center;
}

.guide-descriptor-info{
  display: inline;
}

.guide-descriptor-name{
  padding: 0;
  bottom: 0;
  top: 0;
}

.guide-descriptor-level,
.guide-descriptor-group {
  bottom: 0;
  top: 0;
  padding-right: 1%;
}