@import "common";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/elevation/mdc-elevation";
@import "transition_animation";

.main-content {
  overflow: auto;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 20px;
  box-sizing: border-box;
}


.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.mdc-top-app-bar{
  position: absolute;
  background-color: $mdc-theme-on-primary;
}
.mdc-top-app-bar__navigation-icon {
  background: $mdc-theme-primary;
  border-radius: 20%;
}

.logo-subtitle {
  width: 100%;
  text-align: center;
}

.logo {
  content: url("../assets/logo.png");
  width: 100%;
  bottom: 0;
}

.logo-div {
  bottom: 0;
  padding: 10%;
}
